.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.homepage {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;

    display: flex;
    justify-content: center;
    align-content: center;

    flex-direction: column;

}

.hompage__title,
.hompage__sub--title {
    padding: 24px;
    font-size: 42px;
    text-align: center;
    font-weight: 700;
    -webkit-text-stroke: 0.8px white;
    color: black;
    letter-spacing: 1px ;
    transition: 0.3s;
}

.hompage__title:hover,
.hompage__sub--title:hover {
    color: #fff;
}

.search__button{
    display: flex;
    flex-direction: column;
}

/* .input__container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
} */

.search__input {
    outline: none;
    border: 4px solid  white;
    background-color: transparent;
    width: 75%;
    padding: 18px 12px;
    text-align: center;
    margin-top: 30px;
}

.search__input:focus::placeholder {
    color: transparent;
}

.search__input:hover:focus::placeholder {
    color: transparent;
}

.search__input:hover {
    border: 4px solid black;
    transition: all 300ms ease;
}

.search__input:hover::placeholder {
    color: gold;
    transition: all 300ms ease;
}

.search__input::placeholder {
    font-size:18px ;
    letter-spacing: 4px;
    color: black;
    font-weight: bold;
}




/*
    batman
*/

 .search__button{
    display: flex;
    justify-content: center;
    align-items: center;

}

.batman {
    border: none;
    position: relative;
    /* cursor: pointer; */
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* span {
    position: absolute;
    font-size: 15px;
    font-weight: 100;
    left: 50%;
    top: 45%;
    letter-spacing: 3px;
    text-align: center;
    transform: translate(-50%, -50%);
    color: transparent;
    transition: all 2s ease;
}

span:hover {
    color: white;
} */
