.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.homepage {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;

    display: flex;
    justify-content: center;
    align-content: center;

    flex-direction: column;
}

.hompage__title,
.hompage__sub--title {
    padding: 24px;
    font-size: 42px;
    text-align: center;
}

.input__container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
}

.search__input {
    outline: none;
    border: 4px solid lightgreen;
    background-color: transparent;
    width: 75%;
    padding: 12px 6px;
    text-align: center;
}

