.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.header__container {
    width: 100%;
    margin: 15px 0px;

}

.header__name {
    display: flex;
    align-items: center;
}

.cursor {
    cursor: pointer;
}

.header__name > .MuiSvgIcon-root {
    font-size: 48px;
    margin-right: 15px;
    cursor: pointer;
}

.header__name:hover > .MuiSvgIcon-root {
    animation: scale-in-hor-right 300ms linear ;
}

.scale-in-hor-right {
	-webkit-animation: scale-in-hor-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: scale-in-hor-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

 @-webkit-keyframes scale-in-hor-right {
    0% {
      -webkit-transform: scaleX(0);
              transform: scaleX(0);
      -webkit-transform-origin: 100% 100%;
              transform-origin: 100% 100%;
      opacity: 1;
    }
    100% {
      -webkit-transform: scaleX(1);
              transform: scaleX(1);
      -webkit-transform-origin: 100% 100%;
              transform-origin: 100% 100%;
      opacity: 1;
    }
  }
  @keyframes scale-in-hor-right {
    0% {
      -webkit-transform: scaleX(0);
              transform: scaleX(0);
      -webkit-transform-origin: 100% 100%;
              transform-origin: 100% 100%;
      opacity: 1;
    }
    100% {
      -webkit-transform: scaleX(1);
              transform: scaleX(1);
      -webkit-transform-origin: 100% 100%;
              transform-origin: 100% 100%;
      opacity: 1;
    }
  }
  

.header__name {
    padding-left: 20px;
    letter-spacing: 4px;

}

.film__box {
    width: 100%;
    height: 50vh;
    display: flex;
}

.img__box {
    width: 50%;
    display: flex;
    place-items: center;
    justify-content: center;
}

.img__info--box {
    width: 50%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    padding: 55px 0;
    font-size: 22px;
    letter-spacing: 6px;
} 

.info {
    padding-bottom: 16px;
}

.film__box--skeleton {
    width: 100%;
    height: 50vh;
    background-color: grey;
    display: flex;
    font-weight: 800;
    font-size: 1.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    -webkit-box-reflect: below -12px linear-gradient(transparent, rgba(0, 0, 0, 0.2));
}

.film__box--skeleton > span {
    position: relative;
    display: inline-block;
    color: #54a115;
    text-transform: uppercase;
    animation: animate 1.8s ease-in-out infinite;
    animation-delay: calc(.1s * var(--spa));
}

@keyframes animate {
    0%, 100% {
        transform: translateY(0px);
    }
    20% {
        transform: translateY(-20px);
    }
    40% {
        transform: translateY(0px);
    }
}
