.container,
.space {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header {
    min-height: 25vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header__text {
    font-size: 48px;
    padding: 12px;
    font-weight: 700;
    color: white;
    letter-spacing: 4px;
    margin: 12px;
    scale: 1.1;
}

.header__text:hover {
    border: 4px solid rgb(237, 208, 208);
    border-left: 0;
    border-right: 0;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    scale: 0.8;
    transition: all 300ms ease;
    /* animation: sliding 1s linear ; */
}

/* @keyframes sliding {
    0% {
        transform: scale(0.8);
    }

    100% {
        transform: scale(1.1);
    }
} */

.header__input {
    margin: 36px 0;
    padding: 16px 0 ;
    background-color: transparent;
    overflow: none;
    width: 75%;
    text-align: center;
    color: white;
    font-size: 18px;
}

.header__input:focus::placeholder{
    color: transparent;
}

.header__input::placeholder {
    color: white;
    font-size: 18px;
    letter-spacing: 6px;
}


.input__button {
    margin-bottom: 24px;
    border: 2px solid white;
}

.input__button:hover > .MuiSvgIcon-root {
    animation: rotate 2s linear infinite;
}

.results {
    display: none;
}

.results--show{
    display: grid;
    place-items: center;
}

.results--hide {
    display: none;
}

.box {
    position: relative;
    width: 1000px;
    height: 600px;
    border-radius: 20px;
    display: grid;
    place-items: center;
    overflow: hidden;
}

.box::before {
    content: '';
    position: absolute;
    width: 1600px;
    height: 1400px;
    background-image: conic-gradient(transparent,transparent,transparent, rgb(12, 180, 3));
    animation: rotate 8s linear infinite;
}

.box::after {
    content: '';
    position: absolute;
    width: 1600px;
    height: 1400px;
    background-image: conic-gradient(transparent,transparent,transparent, rgb(5, 99, 200));
    animation: rotate 8s linear infinite;
    animation-delay: -4s;
}

   .box > span {
    position: absolute;
    inset: 5px;
    border-radius: 16px;
    /* background-color: #000000; */
    background-color: gray;
    z-index: 2;
    transform: translate(0);
}

    span > .MuiSvgIcon-root {
        position: relative;
        top: 2%;
        left: 50%;
        transform: translate(-50%);
        font-size: 50px;
    }

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
        }
}

/* 

FILMS

*/

.film__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;    
    margin-top: 40px;
}

.film {
    border: 1px solid black;
    background-color: white;
    margin: 20px;
    width: 25%;
    display: flex;
    flex-direction: column;
  }
  
  .film__title {
    font-size: 12px;
    font-weight: bold;
    /* text-transform: uppercase; */
    border-bottom: 1px solid black;
    padding: 8px;
    width: 100%;
  }
  
  .film__title--skeleton {
    width: 100%;
    height: 12px;
    background-color: lightgray;
  }
  
  
  .film__img {
    min-height: 20vh;
    padding: 0 8px;
    width: 100%;
    text-align: center;
    margin-top: 5px;
  }

  .film__img > img {
    width: 15vh;
  }
  
  .film__img--skeleton {
    width: 100%;
    margin-top: 15px;
    height: 15vh;
    background-color: lightgray;
  }