.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header {
    min-height: 25vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header__text {
    font-size: 48px;
    padding: 12px;
    font-weight: 700;
    color: white;
    letter-spacing: 4px;
    margin: 12px;
    scale: 1.1;
}

.header__text:hover {
    border: 4px solid rgb(237, 208, 208);
    border-left: 0;
    border-right: 0;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    scale: 0.8;
    transition: all 300ms ease;
    /* animation: sliding 1s linear ; */
}

/* @keyframes sliding {
    0% {
        transform: scale(0.8);
    }

    100% {
        transform: scale(1.1);
    }
} */

.header__input {
    margin: 36px 0;
    padding: 16px 0 ;
    background-color: transparent;
    overflow: none;
    width: 75%;
    text-align: center;
    color: white;
}

.header__input::placeholder {
    color: white;
    font-size: 18px;
    letter-spacing: 6px;
}

.results {
    display: grid;
    place-items: center;
}

.box {
    position: relative;
    width: 1000px;
    height: 600px;
    border-radius: 20px;
    display: grid;
    place-items: center;
    overflow: hidden;
}

.box::before {
    content: '';
    position: absolute;
    width: 1600px;
    height: 1400px;
    background-image: conic-gradient(transparent,transparent,transparent, rgb(12, 180, 3));
    animation: rotate 8s linear infinite;
}

.box::after {
    content: '';
    position: absolute;
    width: 1600px;
    height: 1400px;
    background-image: conic-gradient(transparent,transparent,transparent, rgb(5, 99, 200));
    animation: rotate 8s linear infinite;
    animation-delay: -4s;
}

   .box > span {
    position: absolute;
    inset: 5px;
    border-radius: 16px;
    background-color: #000000;
    /* background-color: gray; */
    z-index: 2;
    transform: translate(0);
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
        }
}