/*

MODAL

*/
.modal__shownes {
    display: none;
}

.modal__contact {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 1100px;
    height: 600px;
    box-shadow: 0 20px 80px 0 rgba(0,0,0,0.55);
    border-radius: 20px;
    overflow: hidden;
    background-color: #242424 ;
    color: white;
    
    display: flex;
    flex-direction: column;
    text-align: center;
}


.modal__title {
    margin: 20px auto;
}

.modal__title-contact {
    text-align: center;
}

.form__items {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}


.input__form, textarea {
    width: 75%;
    background-color: #242424;
    color: #fff;
    outline: none;
    border: 1px solid #c0c4cc;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    height: 40px;
    transition: all 300ms ease;
}

.input__form:hover , textarea:hover {
    border-color: #dcdfe6;
}

.input__form:focus, textarea:focus {
    border-color: #f06449;
}

textarea {
    resize: vertical;
    height: 100px;
    margin-top: 6px;
}

label {
    font-size: 24px;
    font-weight: bold;
}

.form__submit {
    background-color: #f06449;
    border: 2px solid #f06449;
    color: white;
    font-weight: 700;
    width: 100%;
    max-width: 240px;
    padding: 12px 24px;
    font-size: 20px;
    transition: all 300ms ease;
}

.form__submit:hover {
    border-color: #fff;
    background-color: transparent;
}

.form__submit:active {
    border-color: #f06449;
    color: #f06449;
}

.modal__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal__overlay--loading {
    background-color: black;
    visibility: hidden;
}

.modal__overlay--success{
    background-color: #4bb543;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    padding: 28px;
    visibility: hidden;
}

.modal__overlay--loading > .MuiSvgIcon-root {
    animation: Refresh 750ms infinite ;
    font-size: 80px;
}

@keyframes Refresh {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

.modal__exit  {
    position: absolute;
    top: 30px;
    right: 40px;
    color: #fff;
    font-size: 36px;
}

.modal__exit > .MuiSvgIcon-root {
    position: relative;
}

.modal__hide {
    display: none;
}

.modal__show {
    display: block !important;
}