.space {
    margin: 60px auto;
}

.space > h2 {
    padding-bottom: 10px;
    font-size: 36px;
    font-weight: bold;
    color: rgba(255, 213, 0, 0.647);
    letter-spacing: 4px;
    -webkit-text-stroke: 2.2px black;
}

.films__recom {
    width: 100%;
    max-width: 1200px;
    height: 30vh;
    border: 2px solid rgba(255, 213, 0, 0.647);
    background-color: rgba(0, 0, 0, 0.366);
    display: flex;
    align-items: center;
    justify-content: center;
}


.box__films {
    display: flex;
    justify-content: space-evenly;
}

.film2 {
    min-width: 25vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-right: 15px;
}


.film__img2 > img {
    margin-top: 50px;
    max-width: 25vh;
    aspect-ratio: 3/2;
    object-fit: contain;
}


.film__text2 {
    color: white;
}

.film2--skeleton {
    display: flex;
    align-items: center;
    justify-content: center;
}

.film__img2--skeleton > h1 {
    font-size: 36px;
    color: white;
    animation: upanddown 4s infinite;
}

@keyframes upanddown{
    0% {
        transform: translateY(100px);
    }

    50% {
        transform: translateY(-100px);
    }

    100% {
        transform: translateY(100px);
    }
}