.films__recom {
    width: 100%;
    max-width: 1200px;
    margin: 60px auto;
    height: 25vh;
}


.box__films {
    display: flex;
    justify-content: space-between;
}

.film2 {
    background-color: red;
    min-width: 25vh;
    display: flex;
    flex-direction: column;
}