.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    width: 100%;
    max-width: 1200px;
    margin: 15px auto;
}


.navbar__left, 
.navbar__right {
    width: 100%;
}

.navbar__logo {
    width: 25%;
    aspect-ratio: 3/2;
    object-fit: contain;
}


.navbar__links {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

button {
    background: none;
    border: 2px solid;
    font: inherit;
    line-height: 1;
    margin: 0.5em;
    padding: 1em 2em;

    color: var(--color);
    transition: 0.25s;
}

button:hover, button:focus {
    border-color: var(--hover);
    color: #fff;
}

.pluse:hover,
.pluse:focus {
    -webkit-animation: pulse 1s;
            animation: pulse 1s;
            box-shadow: 0 0 0 2em transparent;
}

.pluse {
    --color: #fffefe;
    --hover: #8d8282;
}

@keyframes pluse {
    0%{
        box-shadow: 0 0 0 0 var(--hover);
    }
}

@-webkit-keyframes pluse {
    0% {
        box-shadow: 0 0 0 0 var(--hover);
    }
}

