*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html{
    scroll-behavior: smooth;
    background-color: rgb(58, 57, 57);
}

li{
    list-style-type: none;
}

.click {
    cursor: pointer;
}
